/* load custom font */
@font-face {
  font-family: 'Sanchez';
  src: url('resources/CakeWalk/font/Sanchez-Regular.ttf');
}

.game-container {
  width: 100%;
  text-align: center;
}

canvas {
  display: inline;
}
